@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');

.topContent{
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2px;
}

.topContent__container{
    position:absolute;
    top: 300px;
    right: 200px;
    text-align: center;
}

.topContent__container > p {
    letter-spacing: 1px;
    padding-left: 2px;
    padding-top: 20px;
    height: fit-content;
    width: 450px;
    text-align:center;
}

.topContent__container> a > button{
    margin-bottom: 30px;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.topContent__container > h1{
    font-size: 45px;
    font-family: "Montserrat",sans-serif;
}

.topContent__downloadButton{
    margin-top: 3%;
    color:white;
    background-color: #0080fe;
    font-size: 17px;
    padding: 10px 30px;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
}

.topContent__downloadButton:hover{
    color:black;
    background-color: white;
    font-weight: 600px;

}
@media (max-width: 768px) {
  .topContent {
    text-align:end;
  }

  .topContent__container {
    right: 10%;
    margin: 2px; 
  }

  .topContent__container > h1 {
    font-family: "Montserrat",sans-serif;
    font-size: 11px;
    max-width: 80%; 
  }

  .topContent__container > p {
    padding: 10px 30px;
    font-family: "Montserrat",sans-serif;
    top: 80%;
    right: 70%;
    font-size: 11px;
    max-width: 80%; 
  }

  .topContent__downloadButton {
    font-size: 10px;
  }
}

  
  