@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap');



* {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "Crimson Text",serif;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left:auto ;
}


.SkillContainer {
    opacity: 3px ;
    margin-top: 3px;
    padding: 65px 0 100px;
    background-color: black;
    text-align: center;
  }
  
  .Container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .section_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    color:black;
  }
  
  .section_title h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;
    color: #cdcdcd;
  }
  
  .experience-items {
    margin: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .experience-item {
    flex-basis: calc(33.33% - 20px); 
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px white;
  }
  
  .experience-info p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .Prograss-line {
    height: 20px;
    background-color: black;
    border-radius: 10px;
    position: relative;
  }
  
  .Prograss-line span {
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: #007bff;
  }
  
  @media (max-width: 768px) {
    .section_title h2 {
      font-size: 24px;
    }
  
    .experience-item {
      flex-basis: calc(50% - 20px); 
    }
  }
  