body {
    background-color: black;
    margin: 0;
    overflow: hidden;
  }
  
  .mobile-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 100px;
    text-align: center;
  }
  