.contact {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin:auto;
    margin-top: 2.6px;
    align-items: center;
}

.contact > h1 {
    padding: 20px;
    height:70px;
}


.contact__Container {
    border: 1px solid white;
    width: 500px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact__Container > p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 30px;
}

.contact__Container > p >span{
    color: #0080fe;
}

.contact__icons > a > button > span >.MuisvgIcon-root{
    color: white;
    font-size: 30px;
}

.contact__icons > a > .MuiIconButton-root{
    color: white !important;
}

@media (max-width: 768px) {
    .contact__Container {
      width: 80%; 
      padding: 20px; 
    }
  
    .contact__Container > p {
      font-size: 16px; 
      padding-bottom: 10px; 
    }
  
    .contact__icons {
      flex-direction: column;
      align-items: center;
    }
  
    .contact__icons > a {
      margin: 10px 0; 
    }
  }
